#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app-wrapper {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.list-item {
  padding: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.loading, .error {
  font-size: 24px;
  font-weight: 500;
}
